<div class="container-sm">

<table class="table table-hover" style="width:80% ; margin:10px auto">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Tên</th>
      <th scope="col">Phương thức thanh toán</th>
        <th scope="col">Ngày đặt</th>
        <th scope="col"></th>

      <th scope="col">Trạng thái</th>
    </tr>
  </thead>
  <tbody>


   {{#each data}}
   <tr style="cursor:pointer">
    <th>    <a href="getorder/{{this._id}}">{{@key}}</a>
</th>
    <td>{{this.name}}</td>
        <td>{{this.paymentMethod}}</td>
  <td>{{{increasePrice this.createdAts}}}</td>
   <td>{{{currencyPrice this.base_amount}}}<td/>
    <td>{{this.paymentStatus}}</td>
    


   </tr>
   
  {{/each}}
  </tbody>
</table>
<div style="width:80% ; margin:0 auto; display:flex ; padding: 5px 5px; background-color:blue ; color:#fff;font-weight:700;border-radius:90px; margin-top:20px; ">
  <span style=" margin: 0 10px">DOANH THU</span>

  <p  style=" margin: 0 10px">{{currencyPrice tong}}</p>

</div>

</div>
 
